<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_post_photo.title %>
</p>

<%= link_to 'Edit', edit_admin_post_photo_path(@admin_post_photo) %> |
<%= link_to 'Back', admin_post_photos_path %>
